/* #root {
  width: 100vw;
  height: 100vh;
} */

#container {
  width: 100vw;
  height: 600px !important;
}

.loading {
  top:0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background:#fff;
}